@charset "utf-8";

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #1d4173;
}

body {
  font-family: "GmarketSansMedium";
  background-color: #1d4173;
  color: #e9a445;
  overflow-x: hidden;
}

/* 
color:#1d4173 네이비
color:#e9a445 오렌지
*/
/* header */
/* 메인페이지 */
header {
  width: 160px;
  height: 97vh;
  background-color: #e9a445;
  border-radius: 20px;
  box-sizing: border-box;
  margin: 15px;
  padding-left: 15px;
  position: fixed;
  z-index: 98;
  overflow: hidden;
}

header .loGo {
  width: 130px;
  text-align: center;
  padding-top: 50px;
}

header .barcode {
  font-family: "Libre Barcode 128", system-ui;
  font-weight: 500;
  font-style: normal;
  white-space: nowrap;
  color: #1d4173;
  font-size: 75px;
  margin-top: -1px;
  margin-left: -20px;
}

header h1 span {
  font-style: italic;
  margin-right: 5px;
}

header .main {
  line-height: 80px;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

header .main i {
  font-size: 30px;
  color: #1d4173;
  cursor: pointer;
}

header .main li:hover i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
}

/* 서브메뉴 */
header .sub {
  width: 100px;
  position: absolute;
  top: -5px;
  left: 35px;
  text-align: center;
}

header .sub li {
  position: relative;
  display: inline-block;
  width: 90px;
}

header .sub li:before {
  width: 0px;
  height: 1px;
  position: absolute;
  top: 50px;
  left: 0px;
  content: "";
  background-color: #1d4173;
  transition: width 0.3s ease-in-out;
}

header .videoSub li:before {
  left: 11px;
}

header .videoSub li:hover:before {
  width: 70px;
}

header .folderSub li:not(:nth-child(4)) {
  display: inline-block;
  width: 60px;
}

header .folderSub li:hover:before {
  width: 100%;
}

header .heartSub li {
  margin-top: 158px;
}

header .heartSub li:before {
  top: 50px;
  left: 12.5px;
}

header .heartSub li:hover:before {
  width: 65px;
}

header .sub {
  display: none;
}
/* zzimList */
#zzimList {
  width: 0px;
  height: 715px;
  background-color: #e9a445;
  color: #1d4173;
  position: fixed;
  top: 15px;
  left: 150px;
  border-radius: 0px 20px 20px 0px;
  z-index: 99;
  overflow: hidden;
  transition: 1s;
}

#zzimList.action {
  width: 600px;
  transition: 1s;
}

/* list */
#recentSub {
  padding: 50px;
}

#recentSub li {
  width: 200px;
  position: relative;
}
#recentSub img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

#recentSub .zzim {
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
